<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="SmsInfoEntities" connectionString="metadata=res://*/Model.SmsModel.csdl|res://*/Model.SmsModel.ssdl|res://*/Model.SmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SmsInfo;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SmsInfoEntities1" connectionString="metadata=res://*/Model.SmsModel.csdl|res://*/Model.SmsModel.ssdl|res://*/Model.SmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SmsInfo;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows" />
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmsPortSoap" />
        <binding name="SendSmsSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SmsPortSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://61.191.26.189:8888/SmsPort.asmx" binding="basicHttpBinding"
        bindingConfiguration="SmsPortSoap" contract="SmsPort.SmsPortSoap"
        name="SmsPortSoap" />
      <endpoint address="http://61.191.26.189:8888/SmsPort.asmx" binding="customBinding"
        bindingConfiguration="SmsPortSoap12" contract="SmsPort.SmsPortSoap"
        name="SmsPortSoap12" />
      <endpoint address="http://localhost:56667/WebService/SendSms.asmx"
        binding="basicHttpBinding" bindingConfiguration="SendSmsSoap"
        contract="ServiceReference1.SendSmsSoap" name="SendSmsSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>